# Ignore node_modules directories
# Ignore node_modules directory
node_modules/

# Ignore dist directory
dist/

producer/node_modules/
consumer/node_modules/
cron-consumer/node_modules/

# Ignore dist directories
producer/dist/
consumer/dist/
cron-consumer/dist/